<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@@splidejs/splide@4.0.7/dist/css/splide-core.min.css,npm/@@splidejs/splide@4.0.7/dist/css/splide.min.css">

    <title>THREE GOATS SHOP</title>
</head>
<body>
    <div id="header" class="header">
        <div class="header-logo">
            <img src="~/img/layout/logo.jpg" alt="" class="logo">
            <h3 style="text-align: center; font-size: 20px;">
                <p>Three goats shop</p>
            </h3>
        </div>

        <div class="header-list">
            <div class="user">
                <i class="fa-solid fa-user"></i>
                <ul class="user-info">
                    @RenderSection("Login")
                </ul>
            </div>

            @RenderSection("Buttons")
        </div>
    </div>

    <div style="padding-top:100px;">
        @RenderBody()
    </div>

    <!-- phần chân trang -->
    
   



    <script>
        var splide = new Splide('.splide', {
            type: 'loop',
            perPage: 3,
            height: '400px',
            width: " 100vw",
            focus: 'center',
            // autoWidth: true,
            autoplay: true,
            speed: 1000,
            // pagination :false,
        });

        splide.mount();
    </script>

</body>
<script src="./js/new.js"></script>
<script src="./js/slide.js"></script>
</html>