@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    @section Buttons{
        <a class="header-item"></a>
        <a asp-action="Dashboard" class="header-item">Tổng quan</a>
        <a asp-action="Product" class="header-item">Sản phẩm</a>
        <a asp-action="Bill" class="header-item">Hóa đơn</a>
        <a asp-action="Cost" class="header-item">Chi phí</a>
    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home">Đăng xuất</a>
        </li>
    }
}